<form action="/api/foods/{{id}}" method="POST">
  <div class="card my-2 mx-auto" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title mb-3" for="devourInput">{{name}}</h5>
      <button class="devour btn btn-danger" id={{id}} type="submit">Devour</button>
    </div>
  </div>
</form>
